.profileImage{
    width: 100%;
    height: 100vh;
}
.icons img{
    padding: 15px;
   
}
.icons img:hover{
    transform: scale(1.2);
}
.cardSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
}
.cardSection .card {
    margin: 20px;
}
.card:hover{
    transform: scale(1.2);
    font-weight: bold;
}

.skillImage img{
    border-radius: 250px;
}

